<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/pages/index">Home</a>
    |
    <a href="/pages/companyhistory">Company History</a>
    |
    <a href="/pages/pastprojects">Past Projects</a>
    |
    <a href="/pages/staffmembers">Staff</a>
    |
    <a href="/pages/links">Links</a>
    |
    <a href="/pages/contact">Contact</a>        
  </body>
</html>
