body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* Global CSS styles */
/* Add your global styles here */

/* Example: Change the background color of the body */
body {
  background-color: #f5f0f0;
}

/* text {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  word-spacing: 2px;
} */
.container {
  max-width: 800px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.subheading {
  color: black;
  font-size: 18px;
}

li{
  font-size: 15px;
}