<%- include('../partials/header.ejs') %>
<%- include('../partials/footer.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

<!-- Define the content for the home page -->

  <div class="container">
    
    <p class="subheading">'In its early years, Express Solutions focused on providing custom software development services to small and medium-sized businesses. With a talented team of developers, the company established a reputation for delivering innovative and reliable software solutions. Our commitment to quality and customer satisfaction became the cornerstone of our success.'</p>
   
  </div>


    <!-- <text> 'In its early years, Express Solutions focused on providing custom software development services to small and medium-sized businesses. With a talented team of developers, the company established a reputation for delivering innovative and reliable software solutions. Our commitment to quality and customer satisfaction became the cornerstone of our success.'</text> -->
</body>
</html>




