<%- include('../partials/header.ejs') %>
<script defer>
  function processEmail(){
    let name = document.getElementById('name');
    let email = document.getElementById('email');
    let message = document.getElementById('message');

    name.value = "";
    email.value = "";
    message.value = "";

    document.getElementById('submitmessage').innerText = "Message sent.";
}

</script>
  <table>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <input type="text" id="name" name="name" required>
      </td>
    </tr>
    <tr>
      <td>
        Email:
      </td>
      <td>
        <input type="email" id="email" name="email" required>
      </td>
    </tr>
    <tr>
      <td>
        Message:
      </td>
      <td>
        <textarea id="message" name="message" required></textarea>
      </td>
    </tr>
  </table>

  <button onclick="processEmail()">Submit</button>
  <p id="submitmessage">Click submit to send your message.</p>
<%- include('../partials/footer.ejs') %>
