<!DOCTYPE html>
<html>
<head>
  <title>Links Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Useful Links</h1>
  <ul>
    <!-- <% linksData.forEach(link => { %>
      <li>
        <a href="<%= link.url %>"><%= link.name %></a>
      </li>
    <% }); %> -->
  </ul>
</body>
</html> 
