<!DOCTYPE html>
<html>
<head>
  <title>Past Work</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Past Projects</h1>
  <ul style="list-style-type: none;">
    <% pastprojects.forEach(function(p){ %>
    <li style="margin: 15px 25px 15px 25px;">
      <%= p.project %>
      -
      <%= p.timeframe %>
      -
      <%= p.description %>

    </li>

    <% }); %> 
  </ul>
</body>
</html>
