<!DOCTYPE html>
<html>
<head>
  <title>Staff Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Our Staff</h1>
  <ul>
    <!-- <% staffData.forEach(member => { %>
      <li>
        <h3><%= member.name %></h3>
        <p><%= member.position %></p>
      </li>
    <% }); %> -->
  </ul>
</body>
</html>
