<%- include('../partials/header.ejs') %>

  <h1>Our Staff</h1>
  <ul>
    <% staffmembers.forEach(function(member) { %>
      <li><%= member.membername %></li>
  <% }); %>
  </ul>

<%- include('../partials/footer.ejs') %>
